*.tmp
*.bak
*.cfgc
*.user
*~
.svn
bin
build
lib
*.class
srv_gen
msg_gen
.project
.cproject
.pydevproject
CMakeFiles
CMakeCache.txt
cmake_install.cmake
*Config.h
*Config.py
docs
qtcreator-build
build-*
*.tif
*.tfw
*.bag
*.pyc
*.log
*.class
.project
.cproject
.settings
*.stlb
default_warehouse_mongo_db/*
CMakeLists.txt.user
.idea
core
*_qr_code.txt
*_victim.txt
*_obstacle.txt
.idea/
pid
tug_diagnosis/tug_diagnosis/scripts/lib/picosat/picosat.out
tug_diagnosis/tug_diagnosis/scripts/lib/picosat/picosat.in
tug_diagnosis/tug_diagnosis/scripts/pymbd/benchmark/iscas.tar.gz
cmake-build-debug
